/* List
1 - Main style
2 - Basic layers
3 - Players position
	3.1 - goalkeeper Positions
	3.2 - defenders Positions
	3.3 - midfielder Positions
	3.4 - forwards Positions
	3.5 - Subs Positions
4.0 - Rensponsive
	4.1 Max 2k px
	4.2 2000 px to 1400 px
	4.3 1400 px to 1000px
	4.4 1000 px to 700 px
	4.5 less then 700 px
*/

/* =============
1.0 Main style
=================*/
*{
	margin: 0px;
	padding:0px;
	box-sizing: border-box;
}
body{
	background-color:#0b1a0c;
	color:white;
	background-image: url("img/img4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
/* =============
2. Basic layers
=================*/
#logo{
	position: absolute;
	width:15%;
	top: 40px;
	margin-left:5%;
	float:left;
	color:blue;
}
#logo a>img{
	width: 250px;
	height: 100px;
}
.nav{
	position: relative;
	box-shadow:5px 5px 5px #8F0E0E;
	width:5%;
	min-height:3%;
	float:left;
	text-align: center;
	left:29%;/*daj nam mozliwosc przesuniecia pierwszego elementu. Dla pozostałych elementów nalezy uzyc MARGIN*/
	margin-left:14px;
	margin-top:50px;
	padding-top: 5px;
}
.nav >a{
	color:#F1F0DE;
	text-decoration: none;
	font-size: 23px;
}
.nav a:hover{
	transition:0.5s;
	color:red;
}
/*Add extra img*/
#small_logo{
	position: relative;
	width:5%;
	min-height:3%;
	float:left;
	text-align: center;
	left:29%;
	margin-top:50px;
	padding-top: 5px;
}
/*Can add img to the mid in Nav:
team logo or extra sponsor logo*/
#small_logo{
	/*
	width: auto;
	height: auto;
	*/
}
#sponsor{
	position: absolute;
	top: 40px;
	margin-left:79%;
	margin-right: 15%;
	float:left;
	color:blue;
}
#sponsor a>img{
	width: 240px;
	height: 100px;
}
.last{
	clear:both;
}
article{
	position: relative;
	width: auto;
	height: auto;
	margin-top: 25%;
}
footer{
	position:absolute;
	min-height:auto;
	width:auto;
	margin-left:79%;
	margin-top: -3%;
}
#footer{
	position: absolute;
	font-size:27px;
	margin-left: -242%;
	float:left;
}
#facebook{
	position: relative;
	margin-left:40px;
	float:left;
	width: auto;
	height:auto;
	font-size: 50px;
}
#facebook a>i{
	color:#4267B2;
}
#facebook a>i:hover{
	font-size: 1.05em;
	color: #FFFFFF;
}
#twitter{
	font-size: 50px;
	position: relative;
	float:left;
	margin-left:10px;
	width: auto;
	height:auto;
}
#twitter a>i{
	color:#1DA1F2;
}
#twitter a>i:hover{
	font-size: 1.05em;
	color: #FCAF45;
}
#youtube{
	font-size: 50px;
	position: relative;
	float:left;
	margin-left:10px;
	width: auto;
	height:auto;
}
#youtube a>i{
	color:#FF0000;
}
#youtube a>i:hover{
	font-size: 1.05em;
	color: white;
}

#instagram{
	font-size: 50px;
	position: relative;
	width: auto;
	height:auto;
	float:left;
	margin-left:10px;
}
#instagram a>i{
	color:#e4405f;
}
#instagram a>i:hover{
	color:#FCAF45;
	font-size: 1.1em;
}
/* =============
3. Players Positions
=================*/

/* this content show up aftef hover*/
.hide{
	display: none;
	margin-top: 150px;
}
/* =============
3.1 goalkeeper Positions
=================*/
.goalkeeper{
	float: left;
	margin-left: 5%;
	width: 10%;
	height: 10%
}
#goalkeeper{
	width: auto;
	height: auto;
}
#goalkeeper>a>img{
	width: 100px;
	height: 100px;
}
.goalkeeper:hover .hide{
	display: block;
	margin-top: 0px;
}
/* =============
3.2 defenders Positions
=================*/
.defender{
	float: left;
	margin-left: 10%;
	margin-top: -8%;
	width: 10%;
	height:20%;
}
#defender_1{
	width: auto;
	height:auto;
	margin-bottom: 100px;
}
#defender_1 a>img{
	width: 100px;
	height: 100px;
}

#defender_1:hover + .hide{
	display: block;
	margin-top: -100px;
	margin-bottom: -8px;
}
#defender_2{
	width: auto;
	height:auto;
}
#defender_2 a>img{
	margin-top: 10px;
	width: 100px;
	height: 100px;
}
#defender_2:hover + .hide{
	display: block;
	margin-top: 0px;
}
/* =============
3.3 Midfielder Positions
=================*/
.midfielder{
	float: left;
	margin-left: 11%;
	margin-top: -1%;
	width: 10%;
	height:20%;
}
#midfielder{
	width: auto;
	height:auto;
}
#midfielder a>img{
	width: 100px;
	height: 100px;
}
#midfielder:hover + .hide{
	display: block;
	margin-top: 0px;
}
/* =============
3.4 forwards Positions
=================*/
.forward{
	float: left;
	margin-left: 15%;
	margin-top: -8%;
	width: 10%;
	height:20%;
}
#forward_1{
	width: auto;
	height:auto;
	margin-bottom: 100px;
}
#forward_1 a>img{
	width: 100px;
	height: 110px;
}
#forward_1:hover + .hide{
	display: block;
	margin-top: -100px;
	margin-bottom: -8px;
}
#forward_2{
	width: auto;
	height:auto;
	margin-bottom: 100px;
}
#forward_2 a>img{
	margin-top: 10px;
	width: 100px;
	height: 100px;
}
#forward_2:hover + .hide{
	display: block;
	margin-top: -100px;
	margin-bottom: -8px;
}
.last{
	clear:both;
}
/* =============
3.5 Subs Positions
=================*/
.Substitute{
	margin-left: 4%;
	margin-top: 8%;
}
.img{
	display: none;
	margin-top: -1%;
}
#subs_1{
	float: left;
	margin-left: 5px;
}
#subs_1 a{
	font-size: 20px;
	color:red;
}
#subs_1 a>img{
	width: 50px;
	height: 50px;
}
#subs_1:hover .img{
	background-color: green;
	display: block;
	margin-top: -50px;
}
#subs_2{
	float: left;
	margin-left: 20px;
}
#subs_2 a{
	font-size: 20px;
	color:red;
}
#subs_2 a>img{
	width: 50px;
	height: 50px;
}
#subs_2:hover .img{
	background-color: green;
	display: block;
	margin-top: -50px;
}
#subs_3{
	float: left;
	margin-left: 20px;
}
#subs_3 a>img{
	width: 50px;
	height: 50px;
}
#subs_3 a{
	font-size: 20px;
	color:red;
}
#subs_3:hover .img{
	background-color: green;
	display: block;
	margin-top: -50px;
}
#subs_4{
	float: left;
		margin-left: 20px;
}
#subs_4 a>img{
	width: 50px;
	height: 50px;

}
#subs_4:hover .img{
	background-color: green;
	display: block;
	margin-top: -50px;
}
#subs_4 a{
	font-size: 20px;
	color:red;
}
.last{
	clear: both;
}
/* =============
4.0 Media Queries resolution 2000px
=================*/

/*Media queries*/
@media (min-width: 2000px){
	#logo{
		top:5%;
		left:1%;
	}
	.nav{
		top:40px;
		left: 30%;
	}
	.nav a{
		font-size: 30px;
	}
	#sponsor{
		top:5%;
		left: 4%;
	}
	footer{
		top:110%;
		left:0%;
	}
	#footer{
		font-size: 34px;
		color: red;
		margin-left: -348%;
	}
	.goalkeeper{
		margin-top: 2%;
	}
	.defender{
		margin-top:-10%;
	}
	#defender_1:hover + .hide{
		margin-top: -100px;
		margin-bottom: -72px;
	}
	#defender_2{
		margin-top:170%;
	}
	#defender_2:hover + .hide{
		margin-bottom: -72px
	}
	.midfielder{
		margin-top: 2%;
		margin-left: 13%;
	}
	.forward{
		margin-left:10%;
		margin-top: -90px;
	}
	#forward_1:hover + .hide{
		margin-bottom: -72px;
	}
	#forward_2{
		margin-top:190px;
	}
	#forward_2:hover + .hide{
		margin-bottom: 28px;
	}
	.Substitute{
		position: absolute;
		margin-top:10%;
	}
	#subs_2{
		margin-left: 30px;
	}
	#subs_3{
		margin-left: 30px;
	}
	#subs_4{
		margin-left: 30px;
	}
}
/* ============= check this!!!!!!! and go down
4.1 Media Queries resolution 2000px - 1400px
=================*/
@media (max-width: 2000px) and (min-width: 1400px){

	body{
	}
	.Substitute{
		margin-top: 95px;
	}
}
/* =============
4.2 Media Queries resolution 1400px - 1000px
=================*/
@media (max-width: 1400px)and (min-width:1000px) {
		body{
			background-size: cover;
		}
		.nav {
			left: 30%;
			margin-left: 1.2%;
		}
		.nav a{
				font-size: 20px;
		}
		#sponsor{
			margin-right: 0;
		}
		footer{
			top:122%;
			left:-5%;
		}
	#footer{
			left:41%;
			color: white;
			margin-top: 5%;
	}

	/*=== DEFENDERS =======*/

	#defender_1{
		margin-top: -50px;
	}
	#defender_1:hover + .hide{
		margin-top: -100px;
		margin-bottom: -44px;
	}
	#defender_2 a img{
		margin-top: 25px;
	}

/*======= FORWARDS =========*/
	.forward{
		margin-top: -12%;
	}
	#forward_1:hover + .hide{
		margin-top: -100px;
		margin-bottom: -44px;
	}
	#forward_2 a img{
		margin-top: 25px;
	}
	#forward_2:hover + .hide{
		margin-top: -100px;
		margin-bottom: -44px;
	}
	/*===== Substitute =====*/
	.Substitute{
		margin-top: 6%;
	}


}
/* =============
4.3 Media Queries resolution 1000px - 700px
=================*/
@media(max-width: 1000px)and (min-width:700px){
	body{
		background-size: cover;
		font-size: 12px;
	}
	#logo a>img{
		width: 110px;
		height: 80px;
	}
	.nav {
		left: 18%;
		width: 8%;
	}
	.nav a{
		font-size: 17px;
		margin-left: 20px;
	}
	.nav a:hover{
		transition:0.5s;
		color:orange;
	}
	#sponsor{
		left: 5%;
	}
	#sponsor a>img{
			width: 110px;
			height: 80px;
	}
	footer{
		position: absolute;
		top:93%;
		left: -5%;
	}
	#footer{
		top: 55%;
		left:120%;
		font-size: 13px;
	}
	#facebook{font-size: 30px;}
	#twitter{font-size: 30px;}
	#youtube{font-size: 30px;}
	#instagram{font-size: 30px;}

/*=== GOALKEEPER ===*/
	.goalkeeper{
		margin-top: -3.5%;
	}
	#goalkeeper>a>img{
		width: 60px;
		height: 60px;
	}
/*== DEFENDERS ===*/
.defender{
	margin-top: -18%;
}
#defender_1 a>img{
	width: 60px;
	height: 60px;
}
#defender_1:hover + .hide{
	margin-top: -100px;
	margin-bottom: -35px;
}
#defender_2 a img{
	margin-top: 33px;
	width: 60px;
	height: 60px;
}
#defender_2:hover + .hide{
	margin-bottom: -35px;
}
/*=== MIDFIELDER ===*/
.midfielder{
	margin-top: -4%;
	margin-left: 40px;
}
#midfielder a>img{
	width: 60px;
	height: 60px;
}

/*=== FORWARDS ===*/
.forward{
	margin-top: -18%;
}
#forward_1 a>img{
	width: 60px;
	height: 60px;
}
#forward_1:hover + .hide{
	margin-top: -100px;
	margin-bottom: -35px;
}
#forward_2 a img{
	margin-top: 33px;
	width: 60px;
	height: 60px;
}
#forward_2:hover + .hide{
	margin-top: -100px;
	margin-bottom: -35px;
}
/*=== Substitute ===*/
.Substitute{
	position: absolute;
	top:90%;
}
#subs_1 a{
	font-size: 16px;
	color:red;
}
#subs_2 a{
	font-size: 16px;
	color:red;
}
#subs_3 a{
	font-size: 16px;
	color:red;
}
#subs_4 a{
	font-size: 16px;
	color:red;
}
}

/* =============
4.4 Media Queries resolution 700px
=================*/
@media (max-width: 700px){
		body{
			background-size: 120% 130%;
			width: auto;
			height: auto;
			background-repeat: no-repeat;

		}
		#logo{
			width: auto;
			height: auto;
			margin-left: 10%;
		}
		#logo a>img{
			width: 60px;
			height: 50px;
		}
		.nav{
				clear:both;
				width:30%;
				top:19px;
				margin-left:6%;
				margin-top:1%;
				text-align: center;
			}
			.nav a{
				font-size: 25px;
			}
		#sponsor{
			width: auto;
			height:auto;
		}
		#sponsor>a>img{
			width: 60px;
			height: 50px;
		}
		footer{
			margin-left: 30px;
		}
		#facebook{
			margin-left: 18%;
		}
		#footer{
			clear: both;
			text-align: center;;
			left:0;
			margin-bottom: 3%;
		}
}
