/* List
1 - Main style
2 - Basic layers
3 - Container style - pictures in container
	3.1 dialog box
4.0 - Rensponsive
	4.1 Max 2k px
	4.2 2000 px to 1400 px
	4.3 1400 px to 1000px
	4.4 1000 px to 700 px
	4.5 less then 700 px
*/


/* === 1.0 Main style ===*/
*{
	margin: 0px;
	padding:0px;
	box-sizing: border-box;
}
body{
	background-color:#0b1a0c;
	color:white;
	background-image: url("img/img4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
/* === 2. Basic layers ===*/
#logo{
	position: absolute;
	width:15%;
	top: 40px;
	margin-left:5%;
	float:left;
	color:blue;
}
#logo a>img{
	width: 250px;
	height: 100px;
}
.nav{
	position: relative;
	box-shadow:5px 5px 5px #8F0E0E;
	width:5%;
	min-height:3%;
	float:left;
	text-align: center;
	left:29%;/*daj nam mozliwosc przesuniecia pierwszego elementu. Dla pozostałych elementów nalezy uzyc MARGIN*/
	margin-left:14px;
	margin-top:50px;
	padding-top: 5px;
}
.nav >a{
	color:#F1F0DE;
	text-decoration: none;
	font-size: 23px;
}
.nav a:hover{
	transition:0.5s;
	color:red;
}
/*Add extra img*/
#small_logo{
	position: relative;
	width:5%;
	min-height:3%;
	float:left;
	text-align: center;
	left:29%;
	margin-top:50px;
	padding-top: 5px;
}
/*Can add img to the mid in Nav:
team logo or extra sponsor logo*/
#small_logo{
	/*
	width: auto;
	height: auto;
	*/
}
#sponsor{
	position: absolute;
	top: 40px;
	margin-left:79%;
	margin-right: 15%;
	float:left;
	color:blue;
}
#sponsor a>img{
	width: 240px;
	height: 100px;
}
.last{
	clear:both;
}
article{
	position: relative;
	width: auto;
	height: auto;
	margin-top: 25%;
}
footer{
	position:absolute;
	min-height:auto;
	width:auto;
	margin-left:79%;
	margin-top: 29.5%;
}
#footer{
	position: absolute;
	font-size:27px;
	margin-left: -242%;
	float:left;
}
#facebook{
	position: relative;
	margin-left:40px;
	float:left;
	width: auto;
	height:auto;
	font-size: 50px;
}
#facebook a>i{
	color:#4267B2;
}
#facebook a>i:hover{
	font-size: 1.05em;
	color: #FFFFFF;
}
#twitter{
	font-size: 50px;
	position: relative;
	float:left;
	margin-left:10px;
	width: auto;
	height:auto;
}
#twitter a>i{
	color:#1DA1F2;
}
#twitter a>i:hover{
	font-size: 1.05em;
	color: #FCAF45;
}
#youtube{
	font-size: 50px;
	position: relative;
	float:left;
	margin-left:10px;
	width: auto;
	height:auto;
}
#youtube a>i{
	color:#FF0000;
}
#youtube a>i:hover{
	font-size: 1.05em;
	color: white;
}
#instagram{
	font-size: 50px;
	position: relative;
	width: auto;
	height:auto;
	float:left;
	margin-left:10px;
}
#instagram a>i{
	color:#e4405f;
}
#instagram a>i:hover{
	color:#FCAF45;
	font-size: 1.1em;
}
/* === 3.0 Container ===*/
	#container{
		min-width: 900px;
		min-height:400px;
		overflow:scroll;
		position: absolute;
		top: -210px;
		left: 250px;
		/*border: 2px solid yellow;*/
	}
	#add_img_window{
		position: absolute;
		top: 90%;
		left: 18%;
	}

/*=========================================*/
				/*=== 4.0 Media Queries ===
/*=========================================*/

		/* === 4.1 Media Queries resolution 2000px ===*/
@media (min-width: 2000px){
	#logo{
		top:5%;
		left:1%;
	}
	.nav{
		top:40px;
		left: 30%;
	}
	.nav a{
		font-size: 30px;
	}
	#sponsor{
		top:5%;
		left: 4%;
	}
	footer{
		top:110%;
		left:0%;
	}
	#footer{
		font-size: 34px;
		color: red;
		margin-left: -348%;
	}
}
/* === 4.1 Media Queries resolution 2000px - 1400px ===*/
@media (max-width: 2000px) and (min-width: 1400px){


}
/* === 4.2 Media Queries resolution 1400px - 1000px ===*/
@media (max-width: 1400px)and (min-width:1000px) {
		body{
			background-size: cover;
		}
		.nav {
			left: 30%;
			margin-left: 1.2%;
		}
		.nav a{
				font-size: 20px;
		}
		#sponsor{
			margin-right: 0;
		}
		footer{
			top:122%;
			left:-5%;
		}
	#footer{
			left:41%;
			color: white;
			margin-top: 5%;
	}
}
/* === 4.3 Media Queries resolution 1000px - 700px ===*/
@media(max-width: 1000px)and (min-width:700px){
	body{
		background-size: cover;
		font-size: 12px;
	}
	#logo a>img{
		width: 110px;
		height: 80px;
	}
	.nav {
		left: 18%;
		width: 8%;
	}
	.nav a{
		font-size: 17px;
		margin-left: 20px;
	}
	.nav a:hover{
		transition:0.5s;
		color:orange;
	}
	#sponsor{
		left: 5%;
	}
	#sponsor a>img{
			width: 110px;
			height: 80px;
	}
	footer{
		position: absolute;
		top:93%;
		left: -5%;
	}
	#footer{
		top: 55%;
		left:120%;
		font-size: 13px;
	}
	#facebook{font-size: 30px;}
	#twitter{font-size: 30px;}
	#youtube{font-size: 30px;}
	#instagram{font-size: 30px;}
}

/* === 4.4 Media Queries resolution 700px ===*/
@media (max-width: 700px){
		body{
			background-size: 120% 130%;
			width: auto;
			height: auto;
			background-repeat: no-repeat;

		}
		#logo{
			width: auto;
			height: auto;
			margin-left: 10%;
		}
		#logo a>img{
			width: 60px;
			height: 50px;
		}
		.nav{
				clear:both;
				width:30%;
				top:19px;
				margin-left:6%;
				margin-top:1%;
				text-align: center;
			}
			.nav a{
				font-size: 25px;
			}
		#sponsor{
			width: auto;
			height:auto;
		}
		#sponsor>a>img{
			width: 60px;
			height: 50px;
		}
		footer{
			margin-left: 30px;
		}
		#facebook{
			margin-left: 18%;
		}
		#footer{
			clear: both;
			text-align: center;;
			left:0;
			margin-bottom: 3%;
		}
}
